@import url(http://fonts.googleapis.com/css?family=Lato:300,400,700);
* {
	box-sizing: border-box;
}
body, html {
	margin: 0;
	padding: 0;
}
body {
	font: 13px "Lato";
	font-weight: 300;
	background: url("../img/main_bg.jpg") no-repeat;
	background-size: 100% auto;
	padding-bottom: 30px;
}
.progress {
	width:  600px;
	float: left;
	height: 20px;
}
.balken {
	height: 20px;
}
.balken_label {
	float: left;
	width: 200px;
}
.clearer {
	clear: both;
}
.rainbow {
	background: -moz-linear-gradient(left, red, orange, yellow, green, blue, indigo, violet);
	background: -webkit-gradient(linear, left center, right center, from(red), 
	color-stop(14%, orange), color-stop(28%, yellow), color-stop(42%, green), 
	color-stop(56%, blue), color-stop(70%, indigo), to(violet)); 
	background: -o-linear-gradient(left, red, orange, yellow, green, 
	blue, indigo, violet);
	background: -ms-linear-gradient(left, red, orange, yellow, green, 
	blue, indigo, violet);
}
nav.head {
	height: 50px;
	background: #2b2b2b;
	color: white;
	width: 100%;
	padding: 11px 30px;
	position: fixed;
	top: 0;
}

nav h2 {
	font-size: 26px;
	font-weight: 400;
	margin: 0;
}

nav button.admin_login {
	position: absolute;
	right: 30px;
	top: 9px;
	background: #4c4c4c;
	border: 0;
	border-radius: 0;
	outline: 0;
	color: white;
	padding: 6px 40px;
	font-size: 16px;
	cursor: pointer;
}
section.edit-data {
	display: none;
	position: fixed;
	background: white;
	border-radius: 10px;
	padding: 30px;
	width: 300px;
	height: 300px;
	top: 50%;
	left: 50%;
	margin: -150px 0 0 -150px;
	box-shadow: 3px 3px 9px;
}
section.claim {
	text-align: center;
	padding-top: 150px;
	font-size: 1.5em;
	color: white;
	padding-bottom: 20px;
}

section.claim h1 {
	text-decoration: underline;
}
section.claim p {
	margin-bottom: 50px;
}
section.ergebnisse {
	background: white;
	text-align: center;
	font-size: 1.2em;
	padding-top: 10px;
}
section.ergebnisse h1 {
	font-weight: 300;
}
.ergebniss_wrapper {
	width: 400px;
	margin: 0 auto;
}